* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Martian Mono', monospace;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
body {
    background-color: #fcfcfc;
    margin: 0;
}
.container-xxl {
    width: 1440px;
    height: 100%;
    margin: auto;
}

/*Menu*/

header {
    padding: 0;
    background-color: #f5f5f7;
    box-shadow: 0px 0px 4px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.menu {
    height: 60px;
    margin: auto;
    padding: 0;
    color: #000;
}
.container-menu {
    margin: auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-logo {
    font-size: 30px;
    margin: 0px 30px;
}
.menu-opener {
    width: 30px;
    height: 30px;
    background-image: url(/images/menu.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: none;
    border-radius: 5px;
}
ul {
    list-style: none;
    display: flex;
}
ul li {
    margin: 0px 30px;
    font-size: 20px;
    cursor: pointer;
}
ul li a {
    text-decoration: none;
    color: #000;
}
ul .selected {
    font-weight: bold;
    transform: scale(1.2, 1.2);
}
ul li:hover {
    transform: scale(1.2, 1.2);
}

/*Home*/

.art {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 300px solid #b7e3ff;
    border-top-color: transparent;
    border-left-color: transparent;
}
.art-top {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 300px solid #b7e3ff;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

#home {
    background-color: #f5f5f7;
    height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
}
.home-content {
    margin: auto;
}
.home-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 30px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.home-left p {
    font-size: 45px;
    line-height: 100px;
    font-family: 'Martian Mono', monospace;
    text-align: center;
    position: relative;
    width: max-content;
}
.name, .job {
    font-size: 65px;
    color: #4b92ff;
    font-weight: 600;
}
.home-left p::before,
.home-left p::after {
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
p::before {
    background-color: #f5f5f7;
}
p::after {
    width: .125em;
    background: transparent;
    height: 75%;
}
.p1::before {
    animation: typewriter 0.5s 1s steps(4) forwards;
}
.p2::before {
    animation: typewriter 2s 2.5s steps(24) forwards;
}
.p3::before {
    animation: typewriter 2s 5s steps(32) forwards;
}
.p1::after {
    animation: typewriter 0.5s 1s steps(4) forwards,
    blink 600ms 4;
}
.p2::after {
    animation: typewriter 2s 2.5s steps(24) forwards,
    blink 600ms 2.5s 4;
}
.p3::after {
    animation: typewriter 2s 5s steps(32) forwards,
    blink 600ms 5s 5;
}
.welcome {
    font-size: 40px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s 8s ease forwards;
    z-index: 99;
}
@keyframes typewriter {
    to {
        left: 100%;
    }
}
@keyframes blink {
    to {
        background: #000;
    }
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-section {
    display: flex;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s 9s ease forwards;
    z-index: 99;
}
.btn {
    border: 3px solid #4b92ff;
    background-color: #4b92ff;
    font-size: 22px;
    line-height: 35px;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.btn-section .btn:first-child {
    margin-right: 20px;
}
.btn-section .btn:last-child {
    margin-left: 20px;
}
.btn a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}
.btn:hover {
    background-color: #0856cf;
    border: 3px solid #0856cf;
    transform: scale(1.1, 1.1);
}
.btn:hover a {
    color: #fff;
}

/*About Me*/

#aboutMe {
    background-color: #b7e3ff;
    margin-top: 3px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 5px #000;
}
.aboutMe-content {
    display: flex;
}
.aboutMe-left {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutMe-img {
    width: 350px;
    height: 450px;
    border-radius: 35px;
    box-shadow: 0px 0px 5px #000;
    background-image: url(../images/profile1.jpeg);
    background-size: cover;
    background-position: center;
}
.aboutMe-right {
    flex: 1;
}
.section-title {
    font-size: 35px;
    line-height: 50px;
    margin: 50px 0px;
}
.aboutMe-desc {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 30px;
}

/*Technologies*/

#technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tec-title {
    font-size: 25px;
    line-height: 40px;
    margin: 30px 0px 50px 0px;
}
.tec-banners {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 50px;
}
.banner {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner img {
    width: 80px;
    height: 80px;
}
.banner-desc {
    font-size: 15px;
    line-height: 40px;
    margin-top: 15px;
}

/*projects*/
#projects {
    background-color: #b7e3ff;
    display: flex;
    box-shadow: 0px 0px 5px #000;
}
.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slides-area {
    width: 1360px;
    overflow-x: hidden;
    margin-bottom: 50px;
}
.slider-controls {
    position: absolute;
    z-index: 99;
    width: 1360px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-ctrl {
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 999;
}
.goPrev {
    background: url('../images/right-arrow.png');
    background-size: cover;
    transform: rotate(180deg);
}
.goNext {
    background: url('../images/right-arrow.png');
    background-size: cover;
}
.slider {
    width: 4080px;
    display: flex;
    transition: ease 1s;
}
.slide {
    width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slide-left {
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
}
.slide-left img {
    background-color: #000;
    width: 800px;
    box-shadow: 0px 0px 6px #000;
    margin-top: 6px;
}
.slide-right {
    flex: 0.5;
    margin-left: 50px;
    margin-right: 50px;
}
.project-title {
    font-size: 25px;
    margin: 30px 0px;
}
.project-desc {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 50px;
}
.project-desc a {
    text-decoration: none;
    color: #000;
}

/*contact*/

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-types {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    background-color: #b7e3ff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #4b92ff;
}
label {
    margin-bottom: 25px;
}
input, textarea {
    font-size: 16px;
    line-height: 26px;
    padding: 10px;
    outline: none;
    border: 2px solid #4b92ff;
    border-radius: 10px;
    width: 500px;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 3px #4b92ff;
}
textarea {
    resize: none;
    height: 150px;
}
label span {
    position: absolute;
    color: #4b92ff;
    font-weight: 600;
    margin-left: 25px;
    transform: translateY(-13px);
    background-color: #fcfcfc;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    box-shadow: 0px 0px 5px #4b92ff;
    border-radius: 5px;
}
input:focus, textarea:focus {
    background-color: #e0e0e0;
    transition: ease 1s;
}

.linkedin-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0077b5;
}
.linkedin-banner:hover {
    transform: scale(1.05, 1.05);
}
.linkedin-banner img {
    height: 80px;
    width: 80px;
}
.linkedin-name {
    font-size: 18px;
    line-height: 35px;
    margin-top: 20px;
}

/*footer*/
footer {
    background-color: #b7e3ff;
    box-shadow: 0px 0px 5px #000;
    padding-top: 20px;
}
.footer-container {
    display: flex;
    align-items: center;
}
.footer-right {
    flex: 1;
}
.footer-left {
    flex: 1;
}
footer h5 {
    margin-bottom: 20px;
    font-size: 12px;
    margin-left: 30px;
    margin-top: 15px;
}
footer h6 {
    font-weight: normal;
    margin-bottom: 15px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.credits {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.credits a {
    text-decoration: none;
    color: #000;
    font-size: 7px;
    padding: 6px;
}
.logo-footer {
    display: flex;
    align-items: center;
}


/* Responsive Design */

@media (min-width: 1300px) and (max-width: 1480px) {
    .container-xxl {
        width: 1280px;
    }
    .slides-area {
        width: 1280px;
    }
    .slider-controls {
        width: 1280px;
    }
    .slider {
        width: 3840px;
    }
    .slide {
        width: 1280px;
    }
    .art {
        border: 200px solid #b7e3ff;
        border-top-color: transparent;
        border-left-color: transparent;
    }
    .art-top {
        border: 200px solid #b7e3ff;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .aboutMe-desc {
        margin-right: 30px;
        font-size: 16px;
        line-height: 28px;
    }
    .tec-banners {
        gap: 0px;
    }


}
@media (min-width: 1050px) and (max-width: 1299px) {
    .container-xxl {
        width: 1024px;
    }
    .slides-area {
        width: 1024px;
    }
    .slider-controls {
        width: 1024px;
    }
    .slider {
        width: 3072px;
    }
    .slide {
        width: 1024px;
    }
    .art {
        border: 150px solid #b7e3ff;
        border-top-color: transparent;
        border-left-color: transparent;
    }
    .art-top {
        border: 150px solid #b7e3ff;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .aboutMe-desc {
        margin-right: 30px;
        font-size: 16px;
        line-height: 28px;
    }
    .aboutMe-left {
        flex: 1;
    }
    .tec-banners {
        gap: 0px;
        grid-template-columns: auto auto auto auto auto;
    }
    .banner {
        width: 200px;
    }
    .slide-left img {
        background-color: #000;
        width: 600px;
        box-shadow: 0px 0px 6px #000;
        margin-top: 6px;
    }
    .slide-right {
        flex: 0.5;
        margin-left: 50px;
        margin-right: 50px;
    }
    .project-desc {
        font-size: 14px;
    }
    .project-title {
        font-size: 25px;
    }
    .section-title {
        margin: 30px 0px;
        font-size: 30px;
    }
    .home-left p {
        font-size: 35px;
        line-height: 70px;
        font-family: 'Martian Mono', monospace;
        text-align: center;
        position: relative;
        width: max-content;
    }
    .name, .job {
        font-size: 50px;
        color: #4b92ff;
        font-weight: 600;
    }
    .welcome {
        font-size: 30px;
    }
    .btn {
        line-height: 30px;
        font-size: 18px;
        width: 150px;
    }
    ul li {
        font-size: 16px;
    }
    .menu-logo {
        font-size: 24px;
    }
}

@media (min-width: 880px) and (max-width: 1049px) {
    .container-xxl {
        width: 860px;
    }
    .slides-area {
        width: 860px;
    }
    .slider-controls {
        width: 860px;
    }
    .slider {
        width: 2580px;
    }
    .slide {
        width: 860px;
        flex-direction: column;
    }
    .slide-right {
        margin: 0px 50px;
    }
    .art {
        border: 100px solid #b7e3ff;
        border-top-color: transparent;
        border-left-color: transparent;
    }
    .art-top {
        border: 100px solid #b7e3ff;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .aboutMe-desc {
        margin-right: 30px;
        font-size: 16px;
        line-height: 28px;
    }
    .aboutMe-left {
        display: none;
    }
    .tec-banners {
        gap: 20px;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 20px;
    }
    .banner {
        width: 150px;
    }
    .banner img {
        width: 60px;
        height: 60px;
    }
    .banner-desc {
        font-size: 12px;
        line-height: 25px;
    }
    .linkedin-banner img {
        width: 60px;
        height: 60px;
    }
    .linkedin-name {
        font-size: 14px;
        line-height: 25px;
    }
    .slide-left img {
        background-color: #000;
        width: 600px;
        box-shadow: 0px 0px 6px #000;
        margin-top: 6px;
    }
    .slide-right {
        flex: 0.5;
        margin-left: 50px;
        margin-right: 50px;
    }
    .project-desc {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .project-title {
        font-size: 25px;
    }
    .section-title {
        margin: 30px 0px;
        font-size: 30px;
    }
    .home-left p {
        font-size: 35px;
        line-height: 70px;
        font-family: 'Martian Mono', monospace;
        text-align: center;
        position: relative;
        width: max-content;
    }
    .name, .job {
        font-size: 50px;
        color: #4b92ff;
        font-weight: 600;
    }
    .welcome {
        font-size: 30px;
    }
    .btn {
        line-height: 30px;
        font-size: 18px;
        width: 150px;
    }
    .credits a {
        font-size: 4px;
    }
    ul li {
        font-size: 16px;
    }
    .menu-logo {
        font-size: 24px;
    }
    input, textarea {
        font-size: 14px;
        line-height: 20px;
    }
    label span {
        font-size: 12px;
        transform: translateY(-10px);
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-left {
        display: flex;
    }
    .footer h5 {
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 660px) and (max-width: 879px) {
    .container-xxl {
        width: 640px;
    }
    .slides-area {
        width: 640px;
    }
    .slider-controls {
        width: 640px;
    }
    .slider {
        width: 1920px;
    }
    .slide {
        width: 640px;
        flex-direction: column;
    }
    .slide-right {
        margin: 0px 50px;
    }
    .slide-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .slide-left img {
        max-width: 500px;
    }
    .art {
        border: 50px solid #b7e3ff;
        border-top-color: transparent;
        border-left-color: transparent;
    }
    .art-top {
        border: 50px solid #b7e3ff;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .aboutMe-desc {
        margin-right: 30px;
        font-size: 12px;
        line-height: 22px;
    }
    .aboutMe-left {
        display: none;
    }
    .aboutMe-right {
        margin-left: 30px;
        margin-right: 30px;
    }
    .tec-title {
        font-size: 20px;
    }
    .tec-banners {
        gap: 30px;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 20px;
    }
    .banner {
        width: 100px;
    }
    .banner img {
        width: 60px;
        height: 60px;
    }
    .banner-desc {
        font-size: 12px;
        line-height: 25px;
    }
    .linkedin-banner img {
        width: 60px;
        height: 60px;
    }
    .linkedin-name {
        font-size: 14px;
        line-height: 25px;
    }
    .contact-types {
        flex-direction: column;
    }
    .contact-left {
        margin-bottom: 60px;
    }
    .slide-left img {
        background-color: #000;
        width: 600px;
        box-shadow: 0px 0px 6px #000;
        margin-top: 6px;
    }
    .slide-right {
        flex: 0.5;
        margin-left: 50px;
        margin-right: 50px;
    }
    .project-desc {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .project-title {
        font-size: 20px;
    }
    .section-title {
        margin: 30px 0px;
        font-size: 22px;
    }
    .home-left p {
        font-size: 25px;
        line-height: 45px;
        font-family: 'Martian Mono', monospace;
        text-align: center;
        position: relative;
        width: max-content;
    }
    .name, .job {
        font-size: 35px;
        color: #4b92ff;
        font-weight: 600;
    }
    .welcome {
        font-size: 22px;
    }
    .btn {
        line-height: 25px;
        font-size: 14px;
        width: 120px;
    }
    .credits a {
        font-size: 4px;
    }
    ul li {
        font-size: 14px;
        margin: 0px 10px;
    }
    .menu-logo {
        font-size: 20px;
    }
    input, textarea {
        font-size: 14px;
        line-height: 20px;
    }
    label span {
        font-size: 12px;
        transform: translateY(-10px);
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-left {
        display: flex;
    }
    .footer h5 {
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 450px) and (max-width: 659px) {
    .container-xxl {
        width: 440px;
    }
    .slides-area {
        width: 440px;
    }
    .slider-controls {
        width: 440px;
    }
    .slider {
        width: 1320px;
    }
    .slide {
        width: 440px;
        flex-direction: column;
    }
    .slide-right {
        margin: 0px 50px;
    }
    .slide-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 440px;
    }
    .slide-left img {
        max-width: 340px;
    }
    .art {
        border: 30px solid #b7e3ff;
        border-top-color: transparent;
        border-left-color: transparent;
    }
    .art-top {
        border: 30px solid #b7e3ff;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .aboutMe-desc {
        margin-right: 30px;
        font-size: 12px;
        line-height: 22px;
    }
    .aboutMe-left {
        display: none;
    }
    .aboutMe-right {
        margin-left: 30px;
        margin-right: 30px;
    }
    .tec-title {
        font-size: 20px;
    }
    .tec-banners {
        grid-template-columns: auto auto auto;
        margin-bottom: 60px;
    }
    .banner {
        width: 70px;
        height: auto;
    }
    .banner img {
        width: 40px;
        height: 40px;
    }
    .banner-desc {
        font-size: 12px;
        line-height: 20px;
    }
    .linkedin-banner img {
        width: 40px;
        height: 40px;
    }
    .linkedin-name {
        font-size: 12px;
        line-height: 20px;
    }
    .contact-types {
        flex-direction: column;
    }
    .contact-left {
        margin-bottom: 60px;
    }
    .slide-left img {
        background-color: #000;
        width: 600px;
        box-shadow: 0px 0px 6px #000;
        margin-top: 6px;
    }
    .slide-right {
        flex: 0.5;
        margin-left: 50px;
        margin-right: 50px;
    }
    .project-desc {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .project-title {
        font-size: 20px;
    }
    .section-title {
        margin: 30px 0px;
        font-size: 22px;
    }
    .home-left p {
        font-size: 18px;
        line-height: 32px;
        font-family: 'Martian Mono', monospace;
        text-align: center;
        position: relative;
        width: max-content;
    }
    .name, .job {
        font-size: 26px;
        color: #4b92ff;
        font-weight: 600;
    }
    .welcome {
        font-size: 18px;
    }
    .btn {
        line-height: 25px;
        font-size: 14px;
        width: 120px;
    }
    .credits a {
        font-size: 4px;
    }
    ul li {
        font-size: 10px;
        margin: 0px 10px;
    }
    .menu-logo {
        font-size: 20px;
    }
    form {
        width: 400px;
    }
    input, textarea {
        font-size: 12px;
        line-height: 20px;
        width: 380px;
    }
    label span {
        font-size: 8px;
        transform: translateY(-10px);
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-left {
        display: flex;
        margin-bottom: 30px;
    }
    .footer h5 {
        padding: 0;
        font-size: 10px;
        margin: 0px;
    }
    .logo-footer {
        margin-right: 0;
    }
    .menu-opener {
        display: block;
        z-index: 999;
    }
    nav {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #4b92ff;
        transform: translateY(-500px);
        opacity: 0;
        transition: ease 0.5s;
        box-shadow: 2px 2px 5px #000;
    }
    nav.show {
        transform: translateY(0);
        opacity: 1;
    }
    nav ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 440px;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav ul li {
        width: 100%;
        font-size: 18px;
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 10px;
    }
}

@media (min-width: 375px) and (max-width: 449px) {
    .container-xxl {
        width: 370px;
    }
    .slides-area {
        width: 370px;
    }
    .slider-controls {
        width: 370px;
    }
    .slider {
        width: 1110px;
    }
    .slide {
        width: 370px;
        flex-direction: column;
    }
    .slide-right {
        margin: 0px 50px;
    }
    .slide-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 370px;
    }
    .slide-left img {
        max-width: 300px;
    }
    .art {
        border: 30px solid #b7e3ff;
        border-top-color: transparent;
        border-left-color: transparent;
    }
    .art-top {
        border: 30px solid #b7e3ff;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .aboutMe-desc {
        margin-right: 30px;
        font-size: 10px;
        line-height: 16px;
    }
    .aboutMe-left {
        display: none;
    }
    .aboutMe-right {
        margin-left: 10px;
        margin-right: 10px;
    }
    .tec-title {
        font-size: 14px;
    }
    .tec-banners {
        grid-template-columns: auto auto auto;
        margin-bottom: 40px;
        gap: 50px;
    }
    .banner {
        width: 50px;
        height: auto;
    }
    .banner img {
        width: 40px;
        height: 40px;
    }
    .banner-desc {
        font-size: 10px;
        line-height: 16px;
    }
    .linkedin-banner img {
        width: 40px;
        height: 40px;
    }
    .linkedin-name {
        font-size: 10px;
        line-height: 16px;
    }
    .contact-types {
        flex-direction: column;
    }
    .contact-left {
        margin-bottom: 60px;
    }
    .slide-left img {
        background-color: #000;
        width: 260px;
        box-shadow: 0px 0px 6px #000;
        margin-top: 6px;
    }
    .slide-right {
        flex: 0.5;
        margin-left: 50px;
        margin-right: 50px;
    }
    .project-desc {
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .project-title {
        font-size: 14px;
    }
    .section-title {
        margin: 30px 0px;
        font-size: 14px;
    }
    .home-left p {
        font-size: 12px;
        line-height: 20px;
        font-family: 'Martian Mono', monospace;
        text-align: center;
        position: relative;
        width: max-content;
    }
    .name, .job {
        font-size: 16px;
        color: #4b92ff;
        font-weight: 600;
    }
    .welcome {
        font-size: 12px;
    }
    .btn {
        line-height: 16px;
        font-size: 10px;
        width: 100px;
    }
    .credits a {
        font-size: 4px;
    }
    .menu-logo {
        font-size: 20px;
    }
    form {
        width: 310px;
    }
    input, textarea {
        font-size: 10px;
        line-height: 18px;
        width: 280px;
    }
    label span {
        font-size: 8px;
        transform: translateY(-10px);
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-left {
        display: flex;
        margin-bottom: 20px;
    }
    .footer-left h5 {
        padding: 0;
        margin: 0;
        font-size: 10px;
        text-align: center;
    }
    .logo-footer {
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer-right h6 {
        font-size: 8px;
    }
    .menu-opener {
        display: block;
        z-index: 999;
        margin-right: 5px;
    }
    nav {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #4b92ff;
        transform: translateY(-500px);
        opacity: 0;
        transition: ease 0.5s;
        box-shadow: 2px 2px 5px #000;
    }
    nav.show {
        transform: translateY(0);
        opacity: 1;
    }
    nav ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 320px;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav ul li {
        width: 100%;
        font-size: 18px;
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: 374px) {
    .container-xxl {
        width: 320px;
    }
    .slides-area {
        width: 320px;
    }
    .slider-controls {
        width: 320px;
    }
    .slider {
        width: 960px;
    }
    .slide {
        width: 320px;
        flex-direction: column;
    }
    .slide-right {
        margin: 0px 50px;
    }
    .slide-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
    }
    .slide-left img {
        max-width: 300px;
    }
    .art {
        border: 30px solid #b7e3ff;
        border-top-color: transparent;
        border-left-color: transparent;
    }
    .art-top {
        border: 30px solid #b7e3ff;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .aboutMe-desc {
        margin-right: 30px;
        font-size: 10px;
        line-height: 16px;
    }
    .aboutMe-left {
        display: none;
    }
    .aboutMe-right {
        margin-left: 10px;
        margin-right: 10px;
    }
    .tec-title {
        font-size: 14px;
    }
    .tec-banners {
        grid-template-columns: auto auto auto;
        margin-bottom: 40px;
        gap: 50px;
    }
    .banner {
        width: 50px;
        height: auto;
    }
    .banner img {
        width: 40px;
        height: 40px;
    }
    .banner-desc {
        font-size: 10px;
        line-height: 16px;
    }
    .linkedin-banner img {
        width: 40px;
        height: 40px;
    }
    .linkedin-name {
        font-size: 10px;
        line-height: 16px;
    }
    .contact-types {
        flex-direction: column;
    }
    .contact-left {
        margin-bottom: 60px;
    }
    .slide-left img {
        background-color: #000;
        width: 260px;
        box-shadow: 0px 0px 6px #000;
        margin-top: 6px;
    }
    .slide-right {
        flex: 0.5;
        margin-left: 50px;
        margin-right: 50px;
    }
    .project-desc {
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .project-title {
        font-size: 14px;
    }
    .section-title {
        margin: 30px 0px;
        font-size: 14px;
    }
    .home-left p {
        font-size: 12px;
        line-height: 20px;
        font-family: 'Martian Mono', monospace;
        text-align: center;
        position: relative;
        width: max-content;
    }
    .name, .job {
        font-size: 16px;
        color: #4b92ff;
        font-weight: 600;
    }
    .welcome {
        font-size: 12px;
    }
    .btn {
        line-height: 16px;
        font-size: 10px;
        width: 100px;
    }
    .credits a {
        font-size: 4px;
    }
    .menu-logo {
        font-size: 20px;
    }
    form {
        width: 310px;
    }
    input, textarea {
        font-size: 10px;
        line-height: 18px;
        width: 280px;
    }
    label span {
        font-size: 8px;
        transform: translateY(-10px);
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-left {
        display: flex;
        margin-bottom: 20px;
    }
    .footer-left h5 {
        padding: 0;
        margin: 0;
        font-size: 10px;
        text-align: center;
    }
    .logo-footer {
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer-right h6 {
        font-size: 8px;
    }
    .menu-opener {
        display: block;
        z-index: 999;
        margin-right: 5px;
    }
    nav {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #4b92ff;
        transform: translateY(-500px);
        opacity: 0;
        transition: ease 0.5s;
        box-shadow: 2px 2px 5px #000;
    }
    nav.show {
        transform: translateY(0);
        opacity: 1;
    }
    nav ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 320px;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav ul li {
        width: 100%;
        font-size: 18px;
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 10px;
    }
}